<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu" xmlns:th="http://www.thymeleaf.org"
     th:with="view=${#httpServletRequest.getServletPath()}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="#">ASM40</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li
        th:classappend="'nav-item' + ${#strings.startsWith(view,'/') && #strings.endsWith(view, '/')? ' active' : ''}">
        <a class="nav-link" href="/">Product list</a>
      </li>
      <li th:classappend="'nav-item' + ${#strings.startsWith(view,'/create-product')? ' active' : ''}">
        <a class="nav-link" th:href="@{/create-product}">Create Product</a>
      </li>
    </ul>
  </div>
</nav>
